<section class="{{cssPrefix}}maincolumns {{cssPrefix}}job {{cssPrefix}}sticky-sidebars">
  <div class="{{cssPrefix}}container">
    <div class="{{cssPrefix}}row">
      {{yield}}
    </div>
  </div>
</section>
