<div class="row">
  <div class="col-8 col-sm-8">
    <h4>{{option.text}}</h4>
  </div>
  <div class="col-4">
    <div class="input-checkbox">
      <input id="{{question.id}}_{{option.id}}" name="{{question.id}}[multi]" checked={{checked}} value="{{option.id}}" type="checkbox">
      <label for="{{question.id}}_{{option.id}}"></label>
    </div>
  </div>
</div>
