{{yield}}
<section class="text-center" style="{{style}}" id="section-{{object.id}}">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg12">
        <h1 style="color: {{object.text_color}}">{{object.title}}</h1>
        <p class="lead" style="color: {{object.tertiary_color}}">{{object.subtitle}}</p>
      </div>
    </div>
  </div>
</section>