{{outlet}}
<div class="main-container product-wrapper">
  {{product/product-banner}}
  {{product/product-pricing}}
  {{product/product-brands}}
  {{product/product-features}}
  {{product/product-footer offering=true}}
  {{common/front-footer}}
</div>
