{{outlet}}
<div class="main-container">
  <section class="height-100 imagebg text-center" data-overlay="4">
    <div class="background-image-holder" style="background: url('{{{backgroundImage}}}'); opacity: 1;">
      <img alt="background" src="{{{backgroundImage}}}" />
    </div>
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-sm-7 col-md-5">
          <h2>Forgot Password</h2>
          <p class="lead">
            Enter your email and we'll send you a link to reset your password
          </p>
          <form {{action 'forgotPassword' on='submit'}}>
            <div class="row">
              <div class="col-sm-12">
                {{input id='email' placeholder='Email' value=email}}
              </div>
              {{#if errors.email}}
                <div class="col-sm-12">
                  <span style="color: red">{{errors.email}}</span>
                </div>
              {{/if}}
              <div class="col-sm-12">
                {{#if setting}}
                  {{paper-progress-linear}}
                {{else}}
                  <button id="forgotPasswordSubmit" class="btn btn--primary type--uppercase" type="submit">Reset Password</button>
                {{/if}}
              </div>
              <div class="col-sm-12" hidden>
              </div>
            </div>
            <!--end of row-->
          </form>
          <span class="type--fine-print block">Have an account?
            {{#link-to "user.login" id="forgotPasswordLogIn"}}Log in{{/link-to}}
          </span>
          <span class="type--fine-print block">Not registered?
            {{#link-to "talent.register" id="forgotPasswordCreateAccount"}}Create an account now{{/link-to}}
          </span>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
</div>
{{password/forgot-password-alert}}
