{{outlet}}
<div class="main-container">
  <section class="height-100 imagebg text-center" data-overlay="4">
    <div class="background-image-holder" style="background: url('{{{backgroundImage}}}'); opacity: 1;">
      <img alt="background" src="{{{backgroundImage}}}" />
    </div>
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-sm-7 col-md-5">
          <h2>Reset Password</h2>
          <p class="lead">Enter your email and new password to reset your password</p>
          <form class="reset-password-form" {{action 'resetPassword' on='submit'}}>
            <div class="row">
              <div class="col-sm-12">
                {{input id='email' placeholder='Email' value=email}}
              </div>
              <div class="col-sm-12">
                <span style="color: #fff">{{errors.email}}</span>
              </div>
              <div class="col-sm-12">
                <div class="input-icon {{if focused 'password-icon-active'}}">
                  <a href="javascript:void(0)" {{action 'passwordVisibility' visible}}><i class="cursor-hand material-icons">visibility</i></a>
                  {{input id="password" focus-in=(action "focus" true) focus-out=(action "focus" false) type=visible name="password" id='new_password' value=new_password placeholder="New Password"}}
                </div>
              </div>
              <div class="col-sm-12" style="color: #fff">
                <span style="color: #fff">{{errors.new_password}}</span>
              </div>
              <div class="col-sm-12">
                {{#if setting}}
                  {{paper-progress-linear}}
                {{else}}
                  <button id="resetPasswordSubmit" class="btn btn--primary type--uppercase" type="submit">Reset Password</button>
                {{/if}}
              </div>
            </div>
            <!--end of row-->
          </form>
          <span class="type--fine-print block">Have an account?
            {{#link-to "user.login" id="resetPasswordLogIn"}}Log in{{/link-to}}
          </span>
          <span class="type--fine-print block">Not registered?
            {{#link-to "talent.register" id="resetPasswordCreateAccount"}}Create an account now{{/link-to}}
          </span>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
</div>
{{password/reset-password-alert}}
{{password/reset-password-decline-alert error=error}}
