<div class="{{cssPrefix}}logo">
  {{#if channel.logo}}
    <img class="{{cssPrefix}}img-circle" src="{{{channel.logo}}}">
  {{else}}
    <h2 style="background-color: #ff4f4f;color: #fff" class="{{cssPrefix}}img-circle">
      <span>{{initial}}</span>
    </h2>
  {{/if}}
</div>
