<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h4>{{state}} Companies</h4>
      </div>
      <div class="col-6 text-right">
        {{#link-to "search.results" id="companyCardsViewAllCompanies"}}View All Companies{{/link-to}}
      </div>
    </div>
    <div class="row">
      {{#each objects as |company|}}
        <div class="col-sm-4 col-6">
          {{#link-to "channel" company.slug id=(concat "companyCardsSlugCTA_" company.id)  class="block"}}
            <div class="feature feature-7 boxed text-center imagebg" data-overlay="4">
              <div class="background-image-holder" style="background: url({{if company.image_card company.image_card company.image_banner}}); opacity: 1;">
                <img alt="background" src="{{if company.image_card company.image_card company.image_banner}}">
              </div>
              <h4 class="pos-vertical-center wrap">{{company.name}}</h4>
              <h5 class="pos-vertical-center">{{company.live_jobs}} Live Job{{if (not-eq company.live_jobs 1) "s"}}</h5>
            </div>
          {{/link-to}}
        </div>
      {{/each}}
    </div>
  </div>
</section>
{{yield}}