{{outlet}}

<section class="cover height-60 imagebg text-center" data-overlay="8">
  <div class="background-image-holder background--top"
    style="background: url('{{model}}/insurance-1.jpg'); opacity: 1;"> <img alt="background"
      src="{{model}}/insurance-1.jpg"> </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-12">
        <h1> Become A Jobbio <em>Community Partner</em> </h1>
        <h3 class="col-md-12"> Jobbio’s Community Partner Programme is designed to improve your service offer, increase
          engagement and grow your non-due revenue. </h3>
        <a class="btn btn--primary type--uppercase" href="#form"> <span class="btn__text"> Get in touch today </span>
        </a>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2> Who do we work with?</h2>
      </div>
      <div class="col-md-4">
        <a class="block">
          <div class="feature boxed boxed--border border--round" style="height: 220px;">
            <i class="icon--lg icon-Conference"></i>
            <span class="h5 color--primary">Associations</span>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="block">
          <div class="feature boxed boxed--border border--round" style="height: 220px;">
            <i class="icon--lg icon-Suitcase"></i>
            <span class="h5 color--primary">Co-working Spaces</span>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a class="block">
          <div class="feature boxed boxed--border border--round" style="height: 220px;">
            <i class="icon--lg icon-Checked-User"></i>
            <span class="h5 color--primary">VCs, Incubators and Accelerators</span>
          </div>
        </a>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </div>
</section>
<section class="text-center bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="feature feature-6"> <i class="icon icon--sm icon-Optimization color--primary"></i>
          <h4>Grow Non-Due Revenue</h4>
        </div>
        <!--end feature-->
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="feature feature-6"> <i class="icon icon--sm icon-Handshake color--primary"></i>
          <h4>Increase Engagement </h4>
        </div>
        <!--end feature-->
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="feature feature-6"> <i class="icon icon--sm icon-Bar-Chart color--primary"></i>
          <h4>Improve Service Offering</h4>
        </div>
        <!--end feature-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2 class="type--bold">Partnership Mission</h2>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
  <div class="container text-center mt--2">
    <div class="row">
      <div class="col-md-4">
        <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow" style=" height: 385px;"> <i
            class="icon icon--lg icon-Brain"></i>
          <h4 class="type--bold">Technology</h4>
          <p> Jobbio will power your dedicated digital job channels to help job seekers find opportunities and
            recruiters to hire top talent. The technology is designed to maximise applications and easily integrates to
            any site. </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-md-4">
        <div class="feature feature-3 boxed boxed--lg boxed--border  box-shadow " style="height: 385px;"> <i
            class="icon icon--lg icon-Optimization"></i>
          <h4 class="type--bold">Platform</h4>
          <p> Companies can showcase their employer brand and manage their applications with ease, while job seekers can
            create a live profile and connect with employers privately and directly. </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-md-4">
        <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow "> <i
            class="icon icon--lg icon-Bar-Chart"></i>
          <h4 class="type--bold">Revenue</h4>
          <p> Build a successful jobs business while creating a new subscription-based revenue stream. There is zero
            additional cost associated with the technology and all sales and customer care can be handled by Jobbio.
          </p>
        </div>
        <!--end feature-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="bg--secondary">
  <div class="container text-center">
    <div class="row">
      <div class=" col-md-12">
        <h2 class="type--bold">A Few Of Our Partners</h2>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
  <div class="container">
    <div class="row">
      {{!-- <div class="slides"> --}}
      <li class="col-md-4 col-6 slide" style="text-align: center; display: inline-block;"> <img alt="Image"
          class="image--md" src="{{model}}/wework-logo.png"> </li>
      <li class="col-md-4 col-6 slide" style="text-align: center; display: inline-block;"> <img alt="Image"
          class="image--md" src="{{model}}/runwayeast-logo.png"> </li>
      <li class="col-md-4 col-6 slide" style="text-align: center; display: inline-block;"> <img alt="Image"
          class="image--md" src="{{model}}/retail-excellence.png"> </li>
      {{!-- </div> --}}
    </div>
    <!--end row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2>Why Our Partners <span class="type--bold color--primary"> Love </span> The Programme</h2>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
  <div class="tabs-container mt--2" data-content-align="left">
    <ul class="nav tabs tabs--spaced">
      <li class="active">
        <a href="#revenue" class="tab__title text-center" role="tab" data-toggle="tab">
          <i class="icon icon--sm block icon-Line-Chart"></i>
          <span class="h5">Grow Revenue</span>
        </a>
      </li>
      <li>
        <a href="#service" class="tab__title text-center" role="tab" data-toggle="tab">
          <i class="icon icon--sm block icon-Idea"></i>
          <span class="h5">Improved Service</span>
        </a>
      </li>
      <li>
        <a href="#product" class="tab__title text-center" role="tab" data-toggle="tab">
          <i class="icon icon--sm block icon-Numbering-List"></i>
          <span class="h5">Jobbio Products & Services</span>
        </a>
      </li>
    </ul>
    <div class="tabs-content tab-content">
      <div role="tabpanel" class="tab-pane fade show active in" id="revenue">
        <div class="tab__content">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="mt--1">
                  <h2 class="text-center">Grow Revenue</h2>
                  <h5 class="text-center">Increase non-due revenue opportunities from your members while building a
                    substantial subscription business</h5>
                  <div class="container mt--2">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Conference color--primary"></i>
                          <div class="feature__body">
                            <p> A dedicated Jobbio sales team, to receive inbound campaigns, provide sales demos and
                              assist with customer onboarding. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Wallet-2 color--primary"></i>
                          <div class="feature__body">
                            <p> Self-service capability and easy onboarding with an automated payment solution designed
                              to maximise revenue. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-ID-3 color--primary"></i>
                          <div class="feature__body">
                            <p> Benefit from our tiered pricing structure by choosing the elements that best suit your
                              audience and marketing needs. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <div class="col-md-6 ">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Financial color--primary"></i>
                          <div class="feature__body">
                            <p> Upsell your clients onto a Jobbio subscription to generate increased revenue and create
                              an annuity income stream. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                    </div>
                    <!--end of row-->
                  </div>
                </div>
              </div>
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="service">
        <div class="tab__content">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="mt--1">
                  <h2 class="text-center ">Improved Service</h2>
                  <h5 class="text-center">Become the go-to location for jobs in your sector.</h5>
                  <div class="container mt--2">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Laptop-Phone color--primary"></i>
                          <div class="feature__body">
                            <p> Give your community of companies access to market leading jobs board technology,
                              allowing them to post jobs, showcase their employer brand and manage all applications in
                              one central hub. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border" style="    height: 158px;"> <i
                            class="icon icon-Running color--primary"></i>
                          <div class="feature__body">
                            <p> Offer professionals an optimal careers search experience, ensuring audience growth,
                              engagement and maximising applications to your jobs board clients. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Monitor-Analytics color--primary"></i>
                          <div class="feature__body">
                            <p> Increase member engagement and capture data insight on your companies. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <!--end feature-->
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Megaphone color--primary"></i>
                          <div class="feature__body">
                            <p> Plug-in the Jobbio HIGHER careers fair to offer your community of companies a world
                              class hiring event </p>
                          </div>
                        </div>
                      </div>
                      <!--end feature-->
                    </div>
                    <!--end of row-->
                  </div>
                </div>
              </div>
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="product">
        <div class="tab__content">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="mt--1">
                  <h2 class="text-center">Jobbio Products And Services</h2>
                  <h5 class="text-center">Our partners benefit from upselling opportunities to our extensive suite of
                    new products and services. </h5>
                  <div class="container mt--2">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border" style="height: 158px;"> <i
                            class="icon icon-Mens color--primary"></i>
                          <div class="feature__body">
                            <p> With our marketplace, your members can unlock the millions of users on Jobbio while also
                              accessing the wider talent base of our expansive partner network. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Trophy-2 color--primary"></i>
                          <div class="feature__body">
                            <p> Our Employer Branding Team have worked with the biggest brands in the world to create
                              unique and engaging content that attracts the highest calibre talent. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Megaphone color--primary"></i>
                          <div class="feature__body">
                            <p> Jobbio has partnered with a number of media organisations, allowing your members access
                              to a list of exclusive and specialist audiences. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Calendar color--primary"></i>
                          <div class="feature__body">
                            <p> Offer your members access to Jobbio’s event programme, including careers fairs, thought
                              leadership events and networking meetups. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                    </div>
                    <!--end of row-->
                  </div>
                </div>
              </div>
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </div>
      </div>
    </div>
  </div>
  <!--end of tabs container-->
</section>
<section id="form" class="switchable switchable--switch bg--secondary">
  <div class="container ">
    <div class="row">
      <div class="col-md-6 col-lg-5 mt--3">
        <h1> Become A Jobbio <em>Community Partner</em> </h1>
        <h3> Jobbio’s Community Partner Programme is designed to improve your service offer, increase engagement and
          grow your non-due revenue. </h3>
      </div>
      <div class="col-md-6 col-lg-6 boxed box-shadow">
        <div class="">
          <h3>Talk to our<span style="color:#ff4f4f;"> Partnerships</span> team</h3>
          <hr class="short">
          <form id="w0" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
            <div style="display:none;">
              <input type="hidden" name="oid" value="00D58000000PGqE">
              <input type="hidden" name="retURL" value="https://content.jobbio.com/thank-you/">
              <input id="utm_content" name="00N5800000DKvWD" type="hidden" />
              <br>
              <input id="utm_campaign" name="00N5800000DKvWC" type="hidden" />
              <br>
              <input id="utm_medium" name="00N5800000DKvWE" type="hidden" />
              <br>
              <input id="utm_source" name="00N5800000DKvWF" type="hidden" />
              <br>
              <input id="utm_term" name="00N5800000DKvWG" type="hidden" />
              <br>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">person</i>
                  <input type="text" id="first_name" maxlength="40" name="first_name" size="20" required=""
                    placeholder="Name*">
                </div>
              </div>
              <div style="clear: both"></div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">person</i>
                  <input type="text" id="person" maxlength="40" name="company" size="20" required=""
                    placeholder="Company Name*">
                </div>
              </div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">email</i>
                  <input type="text" id="email" maxlength="80" name="email" size="20" required="" placeholder="Email *">
                  <small id="email-validation-error" class="validation-error" style="display: none;">Enter a valid email
                    address</small>
                </div>
              </div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">phone</i>
                  <input type="text" id="phone" maxlength="40" name="phone" size="20" required=""
                    placeholder="Telephone Number *">
                  <small id="phone-validation-error" class="validation-error" style="display: none;">Enter only
                    numbers</small>
                </div>
              </div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">person_pin</i>
                  <input type="text" id="jobtitle" maxlength="40" name="phone" size="20" required=""
                    placeholder="Job Title">
                </div>
              </div>
              <div class="col-12">
                <div class="input-select">
                  <select id="00N5800000DaiYf" name="00N5800000DaiYf" required="" title="Do you have a Job Board?">

                    star

                    <option value="" selected="" disabled="">Do you have a Job Board?</option>
                    <option value="Yes"> Yes </option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <textarea id="00N5800000DzGxj" name="00N5800000DzGxj" type="text" placeholder="Message"
                  wrap="soft"></textarea>
                <br>
              </div>
            </div>
            <div class="col-12">
              <div class="input-checkbox">
                <input type="checkbox" required="" name="agree" id="input-assigned-0">
                <label for="input-assigned-0"></label>
              </div>
              <span>I accept the {{#link-to 'terms' id='communityTerms' target='_blank'}}Terms of Service{{/link-to}}
                and {{#link-to 'privacy-policy' id='communityPrivacy' target='_blank'}}Privacy Policy{{/link-to}}</span>
            </div>
            <div style="display:none;">
              <input type="hidden" name="Campaign_ID" value="70158000000SK0f" />
              <input type="hidden" name="member_status" value="Responded" />
              <input type="hidden" name="lead_source" value=" Community Partnership Form" />
              <input id="00N5800000Db2rB" maxlength="255" name="00N5800000Db2rB" size="20" type="hidden" />
              <br>
              <input id="00N5800000Db2rG" maxlength="255" name="00N5800000Db2rG" size="20" type="hidden" />
              <br>
              <input id="00N5800000Db2rL" maxlength="255" name="00N5800000Db2rL" size="20" type="hidden" />
              <br>
              <input id="00N5800000Db2rQ" name="00N5800000Db2rQ" size="20" type="hidden" />
              <br>
              <input id="00N5800000DKvWC" maxlength="255" name="00N5800000DKvWC" size="20" type="hidden" />
              <br>
              <input id="00N5800000DKvWD" maxlength="255" name="00N5800000DKvWD" size="20" type="hidden" />
              <br>
              <input id="00N5800000DKvWE" maxlength="255" name="00N5800000DKvWE" size="20" type="hidden" />
              <br>
              <input id="00N5800000DKvWF" maxlength="255" name="00N5800000DKvWF" size="20" type="hidden" />
              <br>
              <input id="00N5800000DKvWG" maxlength="255" name="00N5800000DKvWG" size="20" type="hidden" />
              <br>
            </div>
            <div class="col-12">
              <button id="communitySubmit" type="submit" class="btn btn--primary">Get Started</button>
            </div>
            <!--end row-->
          </form>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

{{common/front-footer}}