{{outlet}}

<section class="cover height-60 imagebg text-center" data-overlay="8" style="z-index: -1;">
  <div class="background-image-holder background--top" style="background: url('{{model}}/education.jpg'); opacity: 1;">
    <img alt="background" src="{{model}}/education.jpg"> </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-12">
        <h1> Become A Jobbio <em> Partner</em> </h1>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="bg--secondary text-center ">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="partnerships feature feature-1"> <img alt="Image" src="{{model}}/lmo-1.jpg">
          <div class="feature__body boxed box-shadow boxed--lg boxed--border">
            <h3>Media</h3>
            <p class="lead"> Jobbio’s Media Partner Programme is for large scale media organisations or newspaper groups
              who want to build or optimise their jobs business - based on a subscription revenue model. </p>
            {{#link-to 'partnerships.media' id="partnershipsHomeMedia" class="btn btn-md btn--primary"}} <span
              class="btn__text">Find Out More</span> {{/link-to}}
          </div>
        </div>
        <!--end feature-->
      </div>
      <div class="col-md-4">
        <div class="partnerships feature feature-1 feature-mt"> <img alt="Image" src="{{model}}/diverse-meeting.jpg">
          <div class="feature__body boxed box-shadow boxed--lg boxed--border">
            <h3>Publisher</h3>
            <p class="lead"> Jobbio’s Publisher Partner Programme is for niche publications who want to offer their
              readers jobs and careers content while creating a new revenue stream. </p>
            {{#link-to 'partnerships.publisher' id="partnershipsHomePublisher" class="btn btn-md btn--primary"}} <span
              class="btn__text">Find Out More</span> {{/link-to}}
          </div>
        </div>
        <!--end feature-->
      </div>
      <div class="col-md-4">
        <div class="partnerships feature feature-1"> <img alt="Image" src="{{model}}/insurance-1.jpg">
          <div class="feature__body boxed box-shadow boxed--lg boxed--border">
            <h3>Community</h3>
            <p class="lead"> Jobbio’s Community Partner Programme is for associations, co-working, VCs, accelerators and
              incubators who want to help their companies grow by giving them a suite of free hiring tools. </p>
            {{#link-to 'partnerships.community' id="partnershipsHomeCommunity" class="btn btn-md btn--primary"}} <span
              class="btn__text">Find Out More</span> {{/link-to}}
          </div>
        </div>
        <!--end feature-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="space--sm switchable switchable--switch bg--secondary  ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row align-items-center height-40 imagebg border--round box-shadow mr-0 ml-0"
          style=" background-color: #fff; border: 1px solid #f2f2f2;">
          <div class="background-image-holder bg-2"
            style=" width: 25%; background: url('{{model}}/conference.jpg'); opacity: 1;"> <img alt="background"
              src="{{model}}/conference.jpg"> </div>
          <div class="col-md-6 offset-md-3 boxed boxed--lg bg--none mb-0">
            <h2 style="color: #333">Conference</h2>
            <p class="lead" style="color: #333"> Jobbio’s Conference Partner Programme is for event organisers who want
              to offer attendees a way to apply to jobs at exhibiting companies or integrate a HIGHER careers fair. </p>
          </div>
          <div class="col-md-3">
            {{#link-to 'partnerships.conference' id="partnershipsHomeConference" class="btn btn-md btn--primary"}} <span
              class="btn__text">Find Out More</span> {{/link-to}} </div>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="space--sm switchable switchable--switch  bg--secondary ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row align-items-center height-40 imagebg border--round box-shadow mr-0 ml-0"
          style=" background-color: #fff; border: 1px solid #f2f2f2;">
          <div class="background-image-holder bg-2"
            style="  width: 25%; background: url('{{model}}/education.jpg'); opacity: 1;"> <img alt="background"
              src="{{model}}/education.jpg"> </div>
          <div class="col-md-6 offset-md-3 boxed boxed--lg bg--none mb-0">
            <h2 style="color: #333">Talent</h2>
            <p class="lead" style="color: #333"> Jobbio’s Talent Partner Programme is for educational organisation who
              want to offer their graduates relevant jobs, employer branding content and careers advice. </p>
          </div>
          <div class="col-md-3">
            {{#link-to 'partnerships.talent' id="partnershipsHomeTalent" class="btn btn-md btn--primary"}} <span
              class="btn__text">Find Out More</span> {{/link-to}} </div>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section id="form" class="switchable switchable--switch">
  <div class="container ">
    <div class="row">
      <div class="col-md-6 col-lg-5 mt--3">
        <h1> Become A Jobbio <em> Partner</em> </h1>
        <h3> Join the growing community of Jobbio partners around the globe</h3>
      </div>
      <div class="col-md-6 col-lg-6 boxed box-shadow">
        <div class="">
          <h3>Talk to our<span style="color:#ff4f4f;"> Partnerships</span> team</h3>
          <hr class="short">
          <form id="w0" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
            <div style="display:none;">
              <input type="hidden" name="oid" value="00D58000000PGqE">
              <input type="hidden" name="retURL" value="https://content.jobbio.com/thank-you/">
              <input id="utm_content" name="00N5800000DKvWD" type="hidden" />
              <br>
              <input id="utm_campaign" name="00N5800000DKvWC" type="hidden" />
              <br>
              <input id="utm_medium" name="00N5800000DKvWE" type="hidden" />
              <br>
              <input id="utm_source" name="00N5800000DKvWF" type="hidden" />
              <br>
              <input id="utm_term" name="00N5800000DKvWG" type="hidden" />
              <br>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">person</i>
                  <input type="text" id="first_name" maxlength="40" name="first_name" size="20" required=""
                    placeholder="Name*">
                </div>
              </div>
              <div style="clear: both"></div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">person</i>
                  <input type="text" id="person" maxlength="40" name="company" size="20" required=""
                    placeholder="Company Name*">
                </div>
              </div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">email</i>
                  <input type="text" id="email" maxlength="80" name="email" size="20" required="" placeholder="Email *">
                  <small id="email-validation-error" class="validation-error" style="display: none;">Enter a valid email
                    address</small>
                </div>
              </div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">phone</i>
                  <input type="text" id="phone" maxlength="40" name="phone" size="20" required=""
                    placeholder="Telephone Number *">
                  <small id="phone-validation-error" class="validation-error" style="display: none;">Enter only
                    numbers</small>
                </div>
              </div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">person_pin</i>
                  <input type="text" id="jobtitle" maxlength="40" name="phone" size="20" required=""
                    placeholder="Job Title">
                </div>
              </div>
              <div class="col-12">
                <div class="input-select">
                  <select id="00N5800000DaiYf" name="00N5800000DaiYf" required="" title="Do you have a Job Board?">

                    star

                    <option value="" selected="" disabled="">Do you have a Job Board?</option>
                    <option value="Yes"> Yes </option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <textarea id="00N5800000DzGxj" name="00N5800000DzGxj" type="text" placeholder="Message"
                  wrap="soft"></textarea>
                <br>
              </div>
            </div>
            <div class="col-12">
              <div class="input-checkbox">
                <input type="checkbox" required="" name="agree" id="input-assigned-0">
                <label for="input-assigned-0"></label>
              </div>
              <span>I accept the {{#link-to 'terms' id='partnershipsHomeTerms' target='_blank'}}Terms of
                Service{{/link-to}} and
                {{#link-to 'privacy-policy' id='partnershipsHomePrivacy' target='_blank'}}Privacy
                Policy{{/link-to}}</span>
            </div>
            <div style="display:none;">
              <input type="hidden" name="Campaign_ID" value="70158000000SK0f" />
              <input type="hidden" name="member_status" value="Responded" />
              <input type="hidden" name="lead_source" value="Education Partnership Form" />
              <input id="00N5800000Db2rB" maxlength="255" name="00N5800000Db2rB" size="20" type="hidden" />
              <br>
              <input id="00N5800000Db2rG" maxlength="255" name="00N5800000Db2rG" size="20" type="hidden" />
              <br>
              <input id="00N5800000Db2rL" maxlength="255" name="00N5800000Db2rL" size="20" type="hidden" />
              <br>
              <input id="00N5800000Db2rQ" name="00N5800000Db2rQ" size="20" type="hidden" />
              <br>
              <input id="00N5800000DKvWC" maxlength="255" name="00N5800000DKvWC" size="20" type="hidden" />
              <br>
              <input id="00N5800000DKvWD" maxlength="255" name="00N5800000DKvWD" size="20" type="hidden" />
              <br>
              <input id="00N5800000DKvWE" maxlength="255" name="00N5800000DKvWE" size="20" type="hidden" />
              <br>
              <input id="00N5800000DKvWF" maxlength="255" name="00N5800000DKvWF" size="20" type="hidden" />
              <br>
              <input id="00N5800000DKvWG" maxlength="255" name="00N5800000DKvWG" size="20" type="hidden" />
              <br>
            </div>
            <div class="col-12">
              <button id="partnershipSubmit" type="submit" class="btn btn--primary">Get Started</button>
            </div>
            <!--end row-->
          </form>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

{{common/front-footer}}