{{outlet}}

<section class="cover height-60 imagebg text-center" data-overlay="8">
  <div class="background-image-holder background--top" style="background: url('{{model}}/education.jpg'); opacity: 1;">
    <img alt="background" src="{{model}}/education.jpg"> </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-md-12">
        <h1> Become A Jobbio <em>Education Partner</em> </h1>
        <h3 class="col-md-12"> Jobbio’s Talent Partner Programme is designed to help your graduates and alumni find
          their dream job. </h3>
        <a class="btn btn--primary type--uppercase" href="#form"> <span class="btn__text"> Get in touch today </span>
        </a>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2> Who do we work with?</h2>
      </div>
      <div class="col-md-3"> <a class="block">
          <div class="feature boxed boxed--border border--round" style="height: 220px;"> <i
              class="icon--lg icon-University"></i> <span class="h5 color--primary">Universities</span> </div>
        </a> </div>
      <div class="col-md-3"> <a class="block">
          <div class="feature boxed boxed--border border--round" style="height: 220px;"> <i
              class="icon--lg icon-Cloud"></i> <span class="h5 color--primary">Online learning platforms</span> </div>
        </a> </div>
      <div class="col-md-3"> <a class="block">
          <div class="feature boxed boxed--border border--round" style="height: 220px;"> <i
              class="icon--lg icon-Add-User"></i> <span class="h5 color--primary">Internship and apprenticeship
              programmes </span> </div>
        </a> </div>
      <div class="col-md-3"> <a class="block">
          <div class="feature boxed boxed--border border--round" style="height: 220px;"> <i
              class="icon--lg icon-Diploma-2"></i> <span class="h5 color--primary">Upskilling courses</span> </div>
        </a> </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </div>
</section>
<section class="text-center bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="feature feature-6"> <i class="icon icon--sm icon-Bar-Chart color--primary"></i>
          <h4>Increase your Service Offering</h4>
        </div>
        <!--end feature-->
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="feature feature-6"> <i class="icon icon--sm icon-Happy color--primary"></i>
          <h4>Improve Talent Experience </h4>
        </div>
        <!--end feature-->
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="feature feature-6"> <i class="icon icon--sm icon-Pen color--primary"></i>
          <h4>Boost Hiring Opportunities</h4>
        </div>
        <!--end feature-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2 class="type--bold">Partnership Mission</h2>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
  <div class="container text-center mt--2">
    <div class="row">
      <div class="col-md-4">
        <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow" style=" height: 385px;"> <i
            class="icon icon--lg icon-Brain"></i>
          <h4 class="type--bold">Technology</h4>
          <p> Jobbio will power your dedicated digital job channels to help job seekers find opportunities and
            recruiters to hire top talent. The technology is designed to maximise applications and easily integrates to
            any site. </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-md-4">
        <div class="feature feature-3 boxed boxed--lg boxed--border  box-shadow" style="height: 385px;"> <i
            class="icon icon--lg icon-Air-Balloon"></i>
          <h4 class="type--bold">Application Journey</h4>
          <p> Our talent profiles feature stackable text boxes, video and imagery so talent can illustrate their work
            history and experience in the way they want. Plus, graduates can connect with employers privately and
            directly. </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-md-4">
        <div class="feature feature-3 boxed boxed--lg boxed--border box-shadow"> <i
            class="icon icon--lg icon-Love-User"></i>
          <h4 class="type--bold">Hiring</h4>
          <p> Offer your students access to the 1000s of companies currently using Jobbio to showcase their employer
            brand and jobs. Together we will curate the right companies for your graduates and offer your hiring
            partners an improved service.
          </p>
        </div>
        <!--end feature-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="bg--secondary mt--2">
  <div class="container text-center">
    <div class="row">
      <div class=" col-md-12">
        <h2 class="type--bold">A Few Of Our Partners</h2>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
  <div class="container">
    <div class="row">
      {{!-- <div class="slides"> --}}
      <li class="col-md-4 col-6 slide" style="text-align: center; display: inline-block;"> <img alt="Image"
          class="image--md" src="{{model}}/dmi-logo.png"> </li>
      <li class="col-md-4 col-6 slide" style="text-align: center; display: inline-block;"> <img alt="Image"
          class="image--md" src="{{model}}/code-institute.png"> </li>
      <li class="col-md-4 col-6 slide" style="text-align: center; display: inline-block;"> <img alt="Image"
          class="image--md" src="{{model}}/lewagon-logo.png"> </li>
      {{!-- </div> --}}
    </div>
    <!--end row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2>Why Our Partners <span class="type--bold color--primary"> Love </span> The Programme</h2>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
  <div class="tabs-container mt--2" data-content-align="left">
    <ul class="nav tabs tabs--spaced">
      <li class="active">
        <a href="#service" class="tab__title text-center" role="tab" data-toggle="tab">
          <i class="icon icon--sm block icon-Line-Chart"></i>
          <span class="h5">Improved Service</span>
        </a>
      </li>
      <li>
        <a href="#application" class="tab__title text-center" role="tab" data-toggle="tab">
          <i class="icon icon--sm block icon-Numbering-List"></i>
          <span class="h5">Application Experience</span>
        </a>
      </li>
      <li>
        <a href="#product" class="tab__title text-center" role="tab" data-toggle="tab">
          <i class="icon icon--sm block icon-Love-User"></i>
          <span class="h5">Jobbio Products </span>
        </a>
      </li>
    </ul>
    <div class="tabs-content tab-content">
      <div role="tabpanel" class="tab-pane fade show active in" id="service">
        <div class="tab__content">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="mt--1">
                  <h2 class="text-center">Improved Service</h2>
                  <h5 class="text-center"> Simply integrate a Jobbio channel onto your online environment to improve
                    your careers offering for your students. </h5>
                  <div class="container mt--2">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border" style="height: 132px;"> <i
                            class="icon icon-Conference color--primary"></i>
                          <div class="feature__body">
                            <p> Offer your students access to the 1000s of companies currently hiring on Jobbio. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Megaphone color--primary"></i>
                          <div class="feature__body">
                            <p> Your hiring partners can post unlimited jobs, showcase their employer brand and manage
                              their applications with ease. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border" style="height: 158px;"> <i
                            class="icon icon-Conference color--primary"></i>
                          <div class="feature__body">
                            <p> Together we will offer improved insights, enabling you to better understand the
                              performance of your graduates. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Teacher color--primary"></i>
                          <div class="feature__body">
                            <p> Our job board technology is more than just a list of jobs. Offer your students further
                              insights into potential employers with our multimedia employer branding content. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                    </div>
                    <!--end of row-->
                  </div>
                </div>
              </div>
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="application">
        <div class="tab__content">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="mt--1">
                  <h2 class="text-center">Application Experience</h2>
                  <h5 class="text-center"> We offer the optimal careers search experience, ensuring audience growth,
                    engagement and maximising applications. </h5>
                  <div class="container mt--2">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-User color--primary"></i>
                          <div class="feature__body">
                            <p> No more CVs, offer your graduates a live multimedia profile that evolves as they do.
                            </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Paper-Plane color--primary"></i>
                          <div class="feature__body">
                            <p> Avoid frustrating processes! Our mobile first design means all traffic is fully
                              optimised. </p>
                          </div>
                        </div>
                      </div>
                      <!--end feature-->

                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Paper-Plane color--primary"></i>
                          <div class="feature__body">
                            <p> Enable your students to get inside a company with Jobbio's company channels </p>
                          </div>
                        </div>
                      </div>
                      <!--end feature-->
                      <div class="col-md-6 ">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-One-FingerTouch color--primary"></i>
                          <div class="feature__body">
                            <p> Our easy-to-use platform means talent can manage all their applications from one central
                              hub. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                    </div>
                    <!--end of row-->
                  </div>
                </div>
              </div>
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="product">
        <div class="tab__content">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="mt--1">
                  <h2 class="text-center ">Jobbio Products</h2>
                  <h5 class="text-center"> Your graduates will benefit from Jobbio’s other talent products and services.
                  </h5>
                  <div class="container mt--2">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Love-User color--primary"></i>
                          <div class="feature__body">
                            <p> With our marketplace, your graduates can access 1000s of companies to ensure they are
                              matched with the right role. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Conference color--primary"></i>
                          <div class="feature__body">
                            <p> Offer your members access to Jobbio’s event programme, including careers fairs, thought
                              leadership events and networking meetups. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i class="icon icon-Pen color--primary"></i>
                          <div class="feature__body">
                            <p> Our easy-to-use platform means talent can manage all their applications from one central
                              hub. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                      <div class="col-md-6">
                        <div class="feature feature-2 boxed boxed--border"> <i
                            class="icon icon-Smartphone color--primary"></i>
                          <div class="feature__body">
                            <p> No more frustrating processes! Our mobile first design means all traffic is fully
                              optimised. </p>
                          </div>
                        </div>
                        <!--end feature-->
                      </div>
                    </div>
                    <!--end of row-->
                  </div>
                </div>
              </div>
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </div>
      </div>
    </div>
  </div>
  <!--end of tabs container-->
</section>
<section id="form" class="switchable switchable--switch bg--secondary">
  <div class="container ">
    <div class="row">
      <div class="col-md-6 col-lg-5 mt--3">
        <h1> Become A Jobbio <em>Education Partner</em> </h1>
        <h3> Jobbio’s Talent Partner Programme is designed to help your graduates and alumni find their dream job.</h3>
      </div>
      <div class="col-md-6 col-lg-6 boxed box-shadow">
        <div class="">
          <h3>Talk to our<span style="color:#ff4f4f;"> Partnerships</span> team</h3>
          <hr class="short">
          <form id="w0" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
            <div style="display:none;">
              <input type="hidden" name="oid" value="00D58000000PGqE">
              <input type="hidden" name="retURL" value="https://content.jobbio.com/thank-you/">
              <input id="utm_content" name="00N5800000DKvWD" type="hidden" />
              <br>
              <input id="utm_campaign" name="00N5800000DKvWC" type="hidden" />
              <br>
              <input id="utm_medium" name="00N5800000DKvWE" type="hidden" />
              <br>
              <input id="utm_source" name="00N5800000DKvWF" type="hidden" />
              <br>
              <input id="utm_term" name="00N5800000DKvWG" type="hidden" />
              <br>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">person</i>
                  <input type="text" id="first_name" maxlength="40" name="first_name" size="20" required=""
                    placeholder="Name*">
                </div>
              </div>
              <div style="clear: both"></div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">person</i>
                  <input type="text" id="person" maxlength="40" name="company" size="20" required=""
                    placeholder="Company Name*">
                </div>
              </div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">email</i>
                  <input type="text" id="email" maxlength="80" name="email" size="20" required="" placeholder="Email *">
                  <small id="email-validation-error" class="validation-error" style="display: none;">Enter a valid email
                    address</small>
                </div>
              </div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">phone</i>
                  <input type="text" id="phone" maxlength="40" name="phone" size="20" required=""
                    placeholder="Telephone Number *">
                  <small id="phone-validation-error" class="validation-error" style="display: none;">Enter only
                    numbers</small>
                </div>
              </div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">person_pin</i>
                  <input type="text" id="jobtitle" maxlength="40" name="phone" size="20" required=""
                    placeholder="Job Title">
                </div>
              </div>
              <div class="col-12">
                <div class="input-select">
                  <select id="00N5800000DaiYf" name="00N5800000DaiYf" required="" title="Do you have a Job Board?">

                    star

                    <option value="" selected="" disabled="">Do you have a Job Board?</option>
                    <option value="Yes"> Yes </option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <textarea id="00N5800000DzGxj" name="00N5800000DzGxj" type="text" placeholder="Message"
                  wrap="soft"></textarea>
                <br>
              </div>
            </div>
            <div class="col-12">
              <div class="input-checkbox">
                <input type="checkbox" required="" name="agree" id="input-assigned-0">
                <label for="input-assigned-0"></label>
              </div>
              <span>I accept the {{#link-to 'terms' id='talentTerms' target='_blank'}}Terms of Service{{/link-to}} and
                {{#link-to 'privacy-policy' id='talentPrivacy' target='_blank'}}Privacy Policy{{/link-to}}</span>
            </div>
            <div style="display:none;">
              <input type="hidden" name="Campaign_ID" value="70158000000SK0f" />
              <input type="hidden" name="member_status" value="Responded" />
              <input type="hidden" name="lead_source" value="Education Partnership Form" />
              <input id="00N5800000Db2rB" maxlength="255" name="00N5800000Db2rB" size="20" type="hidden" />
              <br>
              <input id="00N5800000Db2rG" maxlength="255" name="00N5800000Db2rG" size="20" type="hidden" />
              <br>
              <input id="00N5800000Db2rL" maxlength="255" name="00N5800000Db2rL" size="20" type="hidden" />
              <br>
              <input id="00N5800000Db2rQ" name="00N5800000Db2rQ" size="20" type="hidden" />
              <br>
              <input id="00N5800000DKvWC" maxlength="255" name="00N5800000DKvWC" size="20" type="hidden" />
              <br>
              <input id="00N5800000DKvWD" maxlength="255" name="00N5800000DKvWD" size="20" type="hidden" />
              <br>
              <input id="00N5800000DKvWE" maxlength="255" name="00N5800000DKvWE" size="20" type="hidden" />
              <br>
              <input id="00N5800000DKvWF" maxlength="255" name="00N5800000DKvWF" size="20" type="hidden" />
              <br>
              <input id="00N5800000DKvWG" maxlength="255" name="00N5800000DKvWG" size="20" type="hidden" />
              <br>
            </div>
            <div class="col-12">
              <button id="talentSubmit" type="submit" class="btn btn--primary">Get Started</button>
            </div>
            <!--end row-->
          </form>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

{{common/front-footer}}