{{outlet}}
<div class="main-container">
  <a id="banner" class="in-page-link"></a>
  <section class="cover text-left height-40 parallax">
    <div class="container text-center pos-vertical-center">
      <div class="row">
        <div class="col-12">
          <h1> Talent Marketing</h1>
          <h3> We Reach Millions Of Professionals Every Day</h3>
        </div>
      </div>
      <div class="bar__module">
        <a id="amplifySpeakToUs" class="btn btn-light btn--md type--uppercase" href="/get-a-demo">
          <span style="color: #333;" class="btn__text">SPEAK TO US</span>
        </a>
      </div>
    </div>
  </section>
  <section class="switchable switchable--switch cover height-60">
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-lg-5 col-md-7">
          <div class="switchable__text">
            <h2>The Jobbio Talent </h2>
            <h4 style="color:#ff4f4f;"> Millions of professionals are looking for their next opportunity on Jobbio everyday. </h4>
            <p>When you post your job, Jobbio’s technology instantly matches it to the most relevant talent and delivers it to them within their personalised job feed, in unique topic channels and via email. </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-4 col-12">
          <div class=" border--round box-shadow-wide">
            <img alt="image" src="{{model}}/dashboard.jpg">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="switchable switchable--switch cover height-60">
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-lg-5 col-md-8">
          <div class=" border--round ">
            <img alt="image" style=" margin-left: 20%; max-width: 60%!important;" src="{{model}}/agg-left.png">
          </div>
        </div>
        <div class="col-lg-6 col-md-4 col-12">
          <div class="switchable__text">
            <h2> 50+ Jobs Boards </h2>
            <h4 style="color:#ff4f4f;">We work with some of the biggest job boards in the world like LinkedIn, Google, Glassdoor, Indeed and more.</h4>
            <p> Once you post your job, our jobs marketing specialists turn your job posts into dazzling targeted online ads. We put your job in all the right places, so you don’t have to. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="switchable switchable--switch feature-large">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="switchable__text">
            <h2> Our Exclusive Media Network</h2>
            <h4 style="color:#ff4f4f;"> Jobbio has formed exclusive partnerships with the world's largest media organisations </h4>
            <p> We leverage these ever evolving partnerships to place your content and jobs right in front of both active job seekers and passive candidates. </p>
          </div>
        </div>
        <div class="col-md-2 col-lg-6">
          <img alt="Image" class="border--round " style="margin-left: 25%; max-width: 45%!important;" src="{{model}}/media-partners.png">
        </div>
      </div>
    </div>
  </section>
  <section class="switchable switchable--switch feature-large">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img alt="Image" class="border--round box-shadow-wide" src="{{model}}/jobbio-blog.jpg">
        </div>
        <div class="col-md-6 col-lg-5">
          <div class="switchable__text">
            <h2>Social and Content</h2>
            <h4 style="color:#ff4f4f;">We’ve leveraged the power of content and new media to build a thriving community of professionals.</h4>
            <p> Our own blog attracts 150,000 readers. We regularly feature opportunities and thought leaders, adding another layer to the reach and impact of your jobs on Jobbio.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="switchable switchable--switch text-center ">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-6">
          <div class="cta">
            <h2>Start Hiring Now</h2>
            <p class="lead"> Top Talent Is Waiting For You</p>
            <a id="amplifyGetADemo" class="btn btn--lg " href="/get-a-demo">
              <font color="#333"><span><b>SPEAK TO US</b></span></font>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="feature feature-4 boxed boxed--lg boxed--border  text-center "><i class=" icon icon-Heart"></i>
            <h4>Applicant Management</h4>
            <hr>
            <p> Manage your applications as a team with ease all in one user friendly live applicant tracking platform. Shortlist, stage, message and invite candidates to interview. </p>
            <a id="amplifyApplicantManagementLearnMore" class="btn btn--primary" href="/hire"> <span class="btn__text"> Learn More </span> </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature feature-4 boxed boxed--lg boxed--border text-center"> <i class="icon icon-Love-User "></i>
            <h4>Employer Branding</h4>
            <hr>
            <p> Use your job posts and company channel to showcase everything that makes your company great and attract the talent that will love what you do and how you do it.</p>
            <a id="amplifyEmployerBrandingLearnMore" class="btn btn--primary" href="/employer-brand"> <span class="btn__text"> Learn More </span> </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature feature-4 boxed boxed--lg boxed--border text-center"> <i class="icon icon-Paper-Plane "></i>
            <h4>Talent Experience</h4>
            <hr>
            <p> Candidates love Jobbio because it enables them to create dynamic, private, always-live profiles that showcase the full depth of their skills, experience and ambitions. </p>
            <a id="amplifyTalentExperienceLearnMore" class="btn btn--primary" href="/talent"> <span class="btn__text"> Learn More </span> </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{common/front-footer}}
</div>
