{{outlet}}
<a id="banner" class="in-page-link"></a>
<section class="cover text-left height-40 parallax">
  <div class="container text-center pos-vertical-center">
    <div class="row">
      <div class="col-12">
        <h1> Employer Branding</h1>
        <h3> Use Your Employer Brand and Job Posts To Attract Better Talent </h3>
      </div>
    </div>
    <div class="bar__module">
      <a id="employerBrandSpeakToUs" class="btn btn-secondary btn--md type--uppercase" href="/get-a-demo">
        <span style="color: #333;" class="btn__text">SPEAK TO US</span>
      </a>
    </div>
  </div>
</section>
<section class="switchable switchable--switch cover height-60">
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-lg-5 col-md-7">
        <div class="switchable__text">
          <h2>Your Employer Branding Channel </h2>
          <h4 style="color:#ff4f4f;"> Your company channel is like a company careers page - except so much better. </h4>
          <p>It’s unique, dynamic and fully interactive, enabling you to build an audience of relevant candidates by broadcasting employee led, authentic content. </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-12">
        <div class=" border--round box-shadow-wide">
          <img alt="image" src="{{model}}/deliveroo.jpg">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="switchable switchable--switch feature-large">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img alt="Image" class="border--round box-shadow-wide" src="{{model}}/job-post.jpg">
      </div>
      <div class="col-md-6 col-lg-5">
        <div class="switchable__text">
          <h2>Unlimited Job Postings </h2>
          <h4 style="color:#ff4f4f;"> We don’t limit your hiring. </h4>
          <p> Whether you’ve a short burst of growth, or hire continuously throughout the year, all our plans include unlimited job postings. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="switchable switchable--switch cover height-60">
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-lg-6 col-md-7">
        <div class="switchable__text">
          <h2> Supercharged Jobs Marketing & Smart Matching</h2>
          <h4 style="color:#ff4f4f;"> It is our job to put your jobs in front of the best talent. </h4>
          <p> We immediately match the job to the most relevant talent in the Jobbio marketplace. Through our growing partnership and distribution network, we place your jobs in front of the most qualified candidates naturally where they live
            online. Finally we partner with 50+ free and premium jobs boards including LinkedIn, Glassdoor and Indeed saving you money and time. </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-12">
        <div> <img alt="image" style="max-width: 125%!important;" src="{{model}}/aggregators.jpg"> </div>
      </div>
    </div>
  </div>
</section>
<section class="switchable switchable--switch feature-large">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img alt="Image" class="border--round box-shadow-wide" src="{{model}}/jobbio-ep.jpg">
      </div>
      <div class="col-md-6 col-lg-5">
        <div class="switchable__text">
          <h2> Jobs Ads Designed To Attract Great Talent </h2>
          <h4 style="color:#ff4f4f;"> Our job posts are perfectly designed to enable you to perfectly convey the right information and attract the right talent.</h4>
          <p> We’ve built our job postings to look beautiful on any device. Stackable panels enable you to build the job post just as you want it, illustrated with your content ensuring when candidates view your post they are well-informed, enticed
            and excited. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-center" style="padding-top: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-10">
        <div class="cta">
          <h2>Attract Better Talent</h2>
          <p class="lead"> Brilliant candidates seek careers in companies with clear missions, values and an excellent culture. Use your job posts and company channel to showcase everything that makes your company great and attract the talent that
            will love what you do and how you do it.</p>
          <a id="employerBrandGetADemo" class="btn btn--lg" href="/get-a-demo">
            <font color="#333"><span><b>SPEAK TO US</b></span></font>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container" style="padding-top: 100px;">
    <div class="row">
      <div class="col-md-4">
        <div class="feature feature-4 boxed boxed--lg boxed--border  text-center "> <i class=" icon icon-Heart"></i>
          <h4>Applicant Management</h4>
          <hr>
          <p> Manage your applications as a team with ease all in one user friendly live applicant tracking platform. Shortlist, stage, message and invite candidates to interview. </p>
          <a id="employerBrandApplicantManagementLearnMore" class="btn btn--primary" href="/hire">
            <span class="btn__text">Learn More</span>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature feature-4 boxed boxed--lg boxed--border text-center"> <i class="icon icon-Love-User "></i>
          <h4>Talent Marketing</h4>
          <hr>
          <p> It is our job to market your job opportunities to the best talent in the world. We’ve curated an incredible and exclusive audience that now reaches 100M professionals. </p>
          <a id="employerBrandTalentMarketingLearnMore" class="btn btn--primary" href="/amplify">
            <span class="btn__text">Learn More</span>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature feature-4 boxed boxed--lg boxed--border text-center"> <i class="icon icon-Paper-Plane "></i>
          <h4>Talent Experience</h4>
          <hr>
          <p> Candidates love Jobbio because it enables them to create dynamic, private, always-live profiles that showcase the full depth of their skills, experience and ambitions. </p>
          <a id="employerBrandTalentExperienceLearnMore" class="btn btn--primary" href="/talent">
            <span class="btn__text">Learn More</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{{common/front-footer}}
