{{outlet}}
<div class="main-container product-wrapper company-onboarding">
  <section class="imageblock switchable feature-large">
    <div class="imageblock__content col-lg-5 col-md-6" data-overlay="8">
      <div class="background-image-holder" style="background-image:url('{{model.image}}homepage-banner-airbnb.jpg'); opacity:1; background-position:initial initial; background-repeat:initial initial;"><img alt="image" src="{{model.image}}homepage-banner-airbnb.jpg"></div>
      <div class="container panel-text pos-vertical-center" style="z-index:2;width:unset;">
        <div class="row">
          <div class="col-md-12 text-center img--fullwidth">
            <img class="application_logo" src="{{model.image}}logo_dark.png">
            <h1 class="application_count" data-start="2000007" data-per-day="86400"></h1>
            <h1 class="application_count_strap" style="margin-bottom: 50px;">Live Talent On Jobbio</h1>

            <div class="row justify-content-md-center">
              <div class="col-lg-9">
                <div class="pricing pricing-2 boxed boxed--lg row no-gutters" style="background: unset">
                  <div class="col-xl-12 text-center">
                    <h5>Chat to us about:</h5>
                  </div>
                  <div class="col-xl-12">
                    <ul>
                      <li><span class="checkmark bg--primary-1"></span><span>Showcasing your employer brand</span></li>
                      <li><span class="checkmark bg--primary-1"></span><span>Tracking talent through a live ATS</span></li>
                      <li><span class="checkmark bg--primary-1"></span><span>Proving a seamless candidate experience</span></li>
                      <li><span class="checkmark bg--primary-1"></span><span>Promoting your roles to our media partner network</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-6">
          <h1>Speak With Our Team</h1>
          <p class="lead">See how Jobbio can help you build your brand, hire the right talent quickly and cost effectively.</p>
          <hr class="short">
          <form class="row" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
            <input type=hidden name="oid" value="00D58000000PGqE">
            <input type=hidden name="Campaign_ID" value="70158000000Y5vK">
            <input type=hidden name="member_status" value="Responded">
            <input type=hidden name="lead_source" value={{if model.source model.source 'Get A Demo'}}>
            <input type=hidden name="retURL" value="https://content.jobbio.com/request-a-demo-thank-you/">
            <input id="utm_content" name="00N5800000DKvWD" type="hidden" />
            <input id="utm_campaign" name="00N5800000DKvWC" type="hidden" />
            <input id="utm_medium" name="00N5800000DKvWE" type="hidden" />
            <input id="utm_source" name="00N5800000DKvWF" type="hidden" />
            <input id="utm_term" name="00N5800000DKvWG" type="hidden" />
            <input id="00N5800000DbVlD" name="00N5800000DbVlD" type="checkbox" value="1" type="hidden" />
            <div class="row">
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">person</i>
                  <input id="first_name" maxlength="40" name="first_name" size="20" type="text" required placeholder="First Name*">
                </div>
              </div>
              <div style="clear: both"></div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">person</i>
                  <input id="last_name" maxlength="40" name="last_name" size="20" type="text" required placeholder="Last Name*">
                </div>
              </div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">person</i>
                  <input id="company" maxlength="40" name="company" size="20" required type="text" placeholder="Company Name*" />
                </div>
              </div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">email</i>
                  <input id="email" maxlength="80" name="email" size="20" required type="email" placeholder="Email *">
                  <small id="email-validation-error" class="validation-error" style="display: none;">Enter a valid email address</small>
                </div>
              </div>
              <div class="col-12">
                <div class="input-icon"> <i class="material-icons">phone</i>
                  <input id="phone" maxlength="40" name="phone" size="20" type="text" required placeholder="Telephone Number *" />
                  <small id="phone-validation-error" class="validation-error" style="display: none;">Enter only numbers</small>
                </div>
              </div>
              <div class="col-12">
                <div class="input-checkbox">
                  <input id="agree" type="checkbox" required name="agree">
                  <label for="agree"></label>
                </div>
                <span>I accept the {{#link-to 'company-terms' id='terms' target='_blank'}}Terms of Service{{/link-to}} and {{#link-to 'privacy-policy' id='privacy' target='_blank'}}Privacy Policy{{/link-to}}</span>
              </div>
              <div class="col-12">
                <button id="submit" type="submit" class="btn btn--primary">SUBMIT</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  {{product/product-brands}}
</div>
{{common/front-footer}}
