{{outlet}}
<div class="main-container">
  <a id="banner" class="in-page-link"></a>
  <section class="cover text-left height-40 parallax">
    <div class="container pos-vertical-center text-center">
      <div class="row">
        <div class="col-12">
          <h1> Join The Inbound Hiring Revolution</h1>
          <h3>Your Next Employee Of The Month Awaits</h3>
          <div class="bar__module">
            <div class="bar__module">
              <a id="howItWorksSpeakToUs" class="btn btn-secondary btn--md type--uppercase" href="get-a-demo">
                <span style="color: #333;" class="btn__text">SPEAK TO US</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section style="padding-top: 50px; ">
    <div class="container">
      <div class="row" style="margin-bottom:80px">
        <div class="col-12 text-center">
          <h2> How Jobbio Works </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-10 offset-md-1 text-left">
          <div class="process-1">
            <div class="process__item">
              <h3 style="color:#ff4f4f; font-weight: 500; text-align:left;"> Employer Branding</h3>
              <h4 style="text-align:left;">Use your employer brand and jobs posts to attract better talent </h4>
              <p style="text-align:left;"> Brilliant candidates seek careers in companies with clear missions, values
                and an excellent culture. Use your job posts and company channel to showcase everything that makes your
                company great and attract
                the talent that will love what you do and how you do it.</p>
              <a id="howItWorksEmployerBrandingLearnMore" style="margin-right:90%;"
                class="btn btn-secondary btn--md type--uppercase" href="/employer-brand"> <span style="color: #ff4f4f;"
                  class="btn__text">LEARN MORE</span> </a>
            </div>
            <div class="process__item ">
              <h3 style="color:#ff4f4f; font-weight: 500;">Talent Marketing</h3>
              <h4 style="text-align:left;">We have created the world’s most powerful professional audience</h4>
              <p style="text-align:left;"> It is our job to market your job opportunities to the best talent in the
                world. We’ve curated an incredible and exclusive audience that now exceeds 100M professionals. Our
                approach to jobs marketing is
                completely unique and ensures you attract higher calibre of applications from more relevant and
                qualified candidates. </p>
              <a id="howItWorksTalentMarketingLearnMore" class="btn btn-secondary btn--md type--uppercase"
                href="/amplify"> <span style="color: #ff4f4f;" class="btn__text">LEARN MORE</span> </a>
            </div>
            <div class="process__item">
              <h3 style="color:#ff4f4f; font-weight: 500; text-align:left;">Applicant Management</h3>
              <h4 style="text-align:left;">Manage applications with ease</h4>
              <p style="text-align:left;"> Manage your applications as a team with ease all in one user friendly live
                applicant tracking platform. Shortlist, stage, message and invite candidates to interview - from your
                desktop or mobile. You can
                even build a live talent pool for future hiring. By using Jobbio you are even fully GDPR compliant. </p>
              <a id="howItWorksAplicantManagementLearnMore" style="margin-right:90%;"
                class="btn btn-secondary btn--md type--uppercase" href="/hire"> <span style="color: #ff4f4f;"
                  class="btn__text">LEARN MORE</span> </a>
            </div>
            <div class="process__item">
              <h3 style="color:#ff4f4f; font-weight: 500;">Talent Experience</h3>
              <h4 style="text-align:left;">Meet the best talent in the world</h4>
              <p style="text-align:left;"> Jobbio is the platform for the new professional. Candidates love Jobbio
                because it enables them to create dynamic, private, always-live profiles that showcase the full depth of
                their skills, experience and
                ambitions. </p>
              <a id="howItWorksTalentExperienceLearnMore" class="btn btn-secondary btn--md type--uppercase"
                href="/talent"> <span style="color: #ff4f4f;" class="btn__text">LEARN MORE</span> </a>
            </div>
            <div class="process__item">
              <h3 style="color:#ff4f4f; font-weight: 500; text-align:left;">Support</h3>
              <h4 style="text-align:left;">We’re here to help</h4>
              <p style="text-align:left;"> Jobbio is super easy to use but if you need any help we’re here for you,
                whether you prefer email, phone or live chat. Not only are we real live humans, we’re also experts in
                our field. We’re also super
                friendly and we aim to please. Get in touch, we love a chat!</p>
              <a id="howItWorksSupportLearnMore" style="margin-right:90%;"
                class="btn btn-secondary btn--md type--uppercase" href="https://support.jobbio.com/hc/en-us"> <span
                  style="color: #ff4f4f;" class="btn__text">LEARN MORE</span> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 style="margin-bottom:50px;"> Loved By More Than 6000 Companies </h2>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="testimonial testimonial-2">
            <div class="testimonial__body boxed boxed--border bg--secondary">
              <p> “Jobbio has been really helpful in getting us out there. The amount of people coming to the site
                everyday, seeing our brand and watching our videos has meant it’s not just us driving to drive our
                brand, we’ve got the whole force of
                Jobbio behind us.” </p>
            </div>
            <div class="testimonial__image">
              <img alt="Image" src="{{model}}/houzz-round.png">
              <h5>Ana Harris</h5> <span> International People Services|Houzz</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="testimonial testimonial-2">
            <div class="testimonial__body boxed boxed--border bg--secondary" style="padding-bottom: 52px;">
              <p> “We use Jobbio because it makes my life easier. It’s great that it’s an additional marketing and
                talent attraction channel for us. They have access to an audience that we don’t have directly.” </p>
            </div>
            <div class="testimonial__image">
              <img alt="Image" style="border-radius:50%;" src="{{model}}/secret-escapes-round.jpg">
              <h5>Chloe Palmer </h5> <span>Global Head of HR |Secret Escapes </span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="testimonial testimonial-2">
            <div class="testimonial__body boxed boxed--border bg--secondary" style="padding-bottom: 78px;">
              <p> “One of the things we really struggled with was building a talent pool without paying an external
                recruiter to do it for us. Jobbio has the perfect tool to do that” </p>
            </div>
            <div class="testimonial__image">
              <img alt="Image" src="{{model}}/seedrs-round.png">
              <h5>Liz Alexander</h5> <span>HR and Operations Manager | Seedrs</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-12">
          <div class="cta">
            <h2>Why Jobbio?</h2>
            <p class="lead"> Jobbio has revolutionised hiring by building a careers marketplace that connects the right
              talent to the right companies directly, cost effectively and fast. Hundreds of thousands of professionals
              apply for jobs on
              Jobbio each month, creating beautiful online bio’s which can be updated even after application. Jobbio is
              a completely private platform where candidates can connect and apply directly to companies with a click of
              a button</p>
            <div style="padding-top:50px;">
              <div class="row">
                <div class="col-md-4">
                  <div class="feature feature-2 boxed boxed--border"> <i class="icon icon-Pen-2 color--primary"></i>
                    <div class="feature__body">
                      <p>Showcase your employer brand on your unique company channel </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="feature feature-2 boxed boxed--border"> <i class="icon icon-Megaphone color--primary"></i>
                    <div class="feature__body">
                      <p> Amplify your content and attract the right candidates </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="feature feature-2 boxed boxed--border"> <i
                      class="icon icon-Paper-Plane color--primary"></i>
                    <div class="feature__body">
                      <p>Manage all your applications with ease on one platform</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a id="howItWorksGetADemo" style="margin-top:50px;" class="btn btn--lg " href="/get-a-demo">
            <font color="#333"><span><b>SPEAK TO US</b></span></font>
            <br>
            <span style="padding: 8px 12px;position:absolute;" class="label">It's FREE&nbsp;</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  {{common/front-footer}}
</div>