{{outlet}}
{{#if model}}
  <div class="main-container">
    {{job/job-banner model=model.job tracking=model.tracking}}
    {{#job/job-container}}
      {{job/job-company model=model.job tracking=model.tracking}}
      {{job/job-main job=model}}
      {{job/job-other company=model.job.company current_job_id=model.job.id title="Other Jobs" linkToChannel=true}}
    {{/job/job-container}}
    {{job/job-location address=model.job.location.address latitude=model.job.location.latitude longitude=model.job.location.longitude}}
    {{job/job-foot company=model.job.company model=model.job tracking=model.tracking}}
    {{job/job-questions job=model}}
    {{job/job-complete-bio job=model}}
    {{job/job-application-complete job=model}}
    {{common/front-footer}}
  </div>
{{else}}
  {{common/404-page}}
{{/if}}
