{{outlet}}
<div class="main-container">
  <section class="cover height-70 text-center">
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-md-6 col-lg-8">
          <h1 style="font-weight: bold" class="mt--1">We Build Employer Brands. <br />You Hire Great Talent. </h1>
          <h4>Build your employer brand, post jobs, we will amplify to attract great candidates.</h4>
          <a class="btn type--uppercase btn-white" href="/get-a-demo" style="width: 234px">
            <span class="btn__text">Build Employer Brand</span>
          </a>
          <a class="btn btn--primary type--uppercase" href="https://jobbio.com/company/onboarding?package=free-job-post&source=pricing-page" style="width: 234px; background-color: #222; border-color: #222">
            <span class="btn__text">Post Free Job</span>
            <span class="label" style="background-color: #4d4bab">No Credit Card</span>
          </a>
          <div class="modal-instance block">
            <div class="video-play-icon video-play-icon--xs modal-trigger bg--primary" style="background-color: #222"></div> <span>How It Works</span>
            <div class="modal-container">
              <div class="modal-content bg-dark" data-width="60%" data-height="60%"> <iframe data-src="https://www.youtube.com/embed/mHphuVs6JH4?autoplay=1" allowfullscreen="allowfullscreen"></iframe> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="unpad--top" id="section-choose">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <div class="feature feature-3 boxed boxed--lg bg--secondary" style="background-color: #f7f7f7">
            <h1 class="v1">Build Your Employer Brand</h1>
            <div style="font-weight: bold">Build your employer brand, attract the right talent. Discover how we can help to build and amplify your employer brand.</div>
            <hr>
            <ul>
              <li><span class="checkmark bg--primary-1"></span><span>We make great Employer Branding content</span></li>
              <li><span class="checkmark bg--primary-1"></span><span>Our content creators to your offices and film life at your company</span></li>
              <li><span class="checkmark bg--primary-1"></span><span>We build you a Bespoke Company Careers Profiles</span></li>
              <li><span class="checkmark bg--primary-1"></span><span>Showcase your culture, mission and your people</span></li>
              <li><span class="checkmark bg--primary-1"></span><span>We promote your jobs and your Employer Brand</span></li>
              <li><span class="checkmark bg--primary-1"></span><span>Across our marketplace, job boards and exclusive media partners</span></li>
            </ul>
            <br>
            <a class="btn btn--primary block" href="/get-a-demo" style="background-color: #222; border-color: #222"> <span class="btn__text">SPEAK TO
                                        A SPECIALIST</span> </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="feature feature-3 boxed boxed--lg bg--secondary" style="background-color: #f7f7f7">
            <h1 class="v1">Post Free Jobs</h1>
            <div style="font-weight: bold">No credit card required. 2 million talented people await. Post jobs for free and manage your applications with Jobbio. </div>
            <hr>
            <ul>
              <li><span class="checkmark bg--primary-1"></span><span>Detailed and brandable job posts</span></li>
              <li><span class="checkmark bg--primary-1"></span><span>Matched to relevant talent</span></li>
              <li><span class="checkmark bg--primary-1"></span><span>Marketed on free job boards</span></li>
              <li><span class="checkmark bg--primary-1"></span><span>Accept applications using our free ATS or send to your email</span></li>
              <li><span class="checkmark bg--primary-1"></span><span>Detailed reporting</span></li>
              <li><span class="checkmark bg--primary-1"></span><span>Upgrade later to avail of premium tools, exclusive audiences</span></li>
            </ul>
            <br>
            <a class="btn btn--primary block" href="https://jobbio.com/company/onboarding?package=free-job-post&source=pricing-page" style="background-color: #222; border-color: #222"> <span class="btn__text">POST
                                        FREE JOB</span> </a>
          </div>
        </div>

      </div>
    </div>
  </section>
  {{pricing/company-logos}}
  {{pricing/number-chart}}
  <section class="text-center cta cta-4 space--xxs border--bottom imagebg" data-gradient-bg="#222222,#4d4bab,#222222"><canvas id="granim-0" width="1280" height="90"></canvas>
    <div class="container">
      <div class="row">
        <div class="col-md-12"> <span class="label label--inline">NEED HELP?</span> <span style="padding-right: 12px">SPEAK TO OUR SPECIALIST HIRING &amp; BRANDING TEAM </span>
          <a class="btn btn--sm type--uppercase" id="launchChat"><span class="btn__text">Live Chat</span></a></div>
      </div>
    </div>
  </section>
  <section class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8">
          <h1>Shoot, Showcase &amp; Share</h1>
          <p class="lead"> How we build your Employer Brand </p>
        </div>
      </div>
    </div>
  </section>
  <section class="switchable switchable--switch">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-6 text-center">
          <img alt="Image" class="border--round box-shadow-wide" src="{{imageLocation}}images2/site/content-pages/airbnb-banner-09.jpg">
          <span>
            Airbnb use Jobbio to amplify their employer brand - <a target="_blank" href="/get-a-demo">Learn More</a>
          </span>
        </div>
        <div class="col-md-6 col-lg-5">
          <ol class="process-3">
            <li class="process_item">
              <div class="process__number" style="border-color: #222"><span style="color: #222">01</span></div>
              <div class="process__body">
                <h4>Shoot</h4>
                <p> We send our team of content creators to your offices to take photos, interview the team and film life at your company. </p>
              </div>
            </li>
            <li class="process_item">
              <div class="process__number" style="border-color: #222"><span style="color: #222">02</span></div>
              <div class="process__body">
                <h4>Showcase</h4>
                <p> We build a tailored careers profile page to showcase life at your company including company culture, your mission and your people. </p>
              </div>
            </li>
            <li class="process_item">
              <div class="process__number" style="border-color: #222"><span style="color: #222">03</span></div>
              <div class="process__body">
                <h4>Share</h4>
                <p> We promote your jobs &amp; Employer Brand to amazing talent across our our marketplace, partner job boards and exclusive media partners. </p>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="text-center imagebg parallax" data-overlay="8">
    <div class="background-image-holder"> <img alt="background" src="{{imageLocation}}images2/site/content-pages/banner-b.jpg"> </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-8">
          <div class="cta">
            <h2>Showcase Your Company &amp; Hire Great Talent </h2>
            <p class="lead"> Post a job, build your employer brand, attract candidates, and manage your talent pipeline with Jobbio's complete hiring platform. </p>
            <a class="btn type--uppercase" href="/get-a-demo" style="width: 234px"> <span class="btn__text">Build Employer Brand</span> </a>
            <a class="btn btn--primary type--uppercase" href="https://jobbio.com/company/onboarding?package=free-job-post&source=pricing-page" style="width: 234px; background-color: #4d4bab; border-color: #4d4bab;"> <span class="btn__text">Post Free Job</span><span class="label" style="background-color: #82bb29">No Credit Card</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="new-modal-overlay modal fade" id="callBackComplete" tabindex="-1" role="dialog"
       aria-labelledby="callBackComplete" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button id="searchApplicationSubmissionClose_xButton" type="button" class="redirect-job-page close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-header">
          <i class="icon icon--lg icon-Balloon"></i>
        </div>
        <div class="modal-body">
          <p class="lead">Call back request logged</p>
        </div>
        <div class="modal-footer">
          <a id="callBackCompleteCloseButton" data-dismiss="modal" class="btn btn--sm btn--primary type--uppercase">
            <span class="btn__text">Close</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  {{common/front-footer}}
</div>